<div class="home">
    <div class="title">
        <h1>5・7・5録</h1>
    </div>
    <div class="introduction" >
        <p>575録は日々のできごとを</p>
        <p>5・7・5のリズムで記録するアプリです。</p>
        <br>
        <p>まずはみんなの575を見てみよう!</p>
    </div>
</div>