<div class="home">
    <div class="intro-container">
        <div class="title">
            <h1>日常を、十七音に、閉じ込めて</h1>
        </div>
        <div class="introduction" >
            <p>ここは、五・七・五のリズムでしか喋れない場所</p>
            <p>自由すぎるSNSに疲れたあなたへ、</p>
            <p>あえて「不自由」という贅沢を。</p>
            <br>
            <h3>一、日々を詠む</h3>
            <p>何気ない出来事や今の気持ちを、</p>
            <p>五・七・五にのせてタイムラインへ流しましょう。</p>
            <p>季語はあってもなくてもかまいません。</p>
            <h3>二、想像を広げる</h3>
            <p>短い言葉だからこそ、読み手の情景を想わせます。</p>
            <p>「行間」を楽しむ表現を追求してみてください。</p>
            <h3>三、不自由を愛でる</h3>
            <p>「あと一文字足りない」「リズムが合わない」</p>
            <p>そのもどかしさが、いつしか心地よいパズルに変わります。</p>
            <p>制限があるから生まれる、一期一会の言葉に出会えるはずです。</p>
            <br>
        </div>
        <%= link_to posts_path, class: "to-posts" do %>
            <h3>サクッと読める、みんなの五七語録へ</h3>
        <% end %>
    </div>
</div>