<div class="tanzaku-content">
  <div class="tanzaku-line">
    <div class="tanzaku-label">
      <div class="tanzaku-input">
        <p><%= post.top %></p>
      </div>
    </div>
  </div>
  <div class="tanzaku-line">
    <div class="tanzaku-label">
      <div class="tanzaku-input">
        <p><%= post.middle %></p>
      </div>
    </div>
  </div>
  <div class="tanzaku-line">
    <div class="tanzaku-label">
      <div class="tanzaku-input">
        <p><%= post.bottom %></p>
      </div>
    </div>
  </div>
  <div class="post-meta text-muted">
    <small><%= post.updated_at.strftime('%Y年%m月%d日') %></small>
  </div>
</div>