<h1 class="page-title">詠みなおす</h1>

<%= render "form", post: @post %>

<br>

<!-- 一覧ボタン（フローティングアクションボタン） -->
<%= link_to posts_path, class: "floating-action-button" do %>
    <i class="bi bi-plus-lg">一覧</i>
<% end %>
<!-- 詳細ボタン（フローティングアクションボタン） -->
<%= link_to @post, class: "floating-action-button",style:"right: 120px" do %>
    <i class="bi bi-plus-lg">戻る</i>
<% end %>