<h1 class="page-title">一句読む</h1>

<!-- 一覧ボタン（フローティングアクションボタン） -->
<%= link_to posts_path, class: "floating-action-button" do %>
    <i class="bi bi-plus-lg">一覧</i>
<% end %>

<div class="tanzaku-wrapper">
    <%= render "form", post: @post %>
</div>
