<!DOCTYPE html>
<html>
  <head>
    <title>575</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>575</h1>
      <nav>
        <ul>
          <li><a href="">top</a></li>
          <li><a href="">rogin</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
